
src/helloworld/helloworld

src/panicAndInit/panicAndInit

bin/*

pkg/*

*.exe

src/functions_test/functions_test

src/stringtype/stringtype

src/makeandnew/makeandnew

src/loopandifelse/loopandifelse

src/iotatype/iotatype

src/functype/functype

src/datatype/datatype

src/arraytype/arraytype
